<h1>Eldest director</h1>
<%x = Director.all.where.not({:dob => nil}).order({:dob => :asc}).first%>
<% date = x.dob%>
The eldest director in our dataset right now is <a href="/directors/<%=x.id%>"><%= x.name %><a/>, born on  <%= date.strftime("\%B \%d, %Y.") %>
